@import "https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css";
@import "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css";
@import "https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css";
@import 'https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
.mat-menu-panel{
    background:#2C2C2E !important
}
.pt-30 {
    padding-top: 30px;
}
.blue-snackbar {
	background: #2196F3;
  }

  .mat-dialog-container {
    display: block;
    padding: 0px !important;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}
.pagination .page-link{
    display:none;

}
.pagination .next-item{
    display:none;
}
.pagination .page-item .page-link{
    display:none;
}
.mat-dialog-container{
    color:white !important;
}
.addprojectstep4 .Modal_Body_content_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0 8px 0;
}