
      .scrumboard-card:hover {
        background: rgba(black, 0.5);
      }
    
  


.cdk-drag-preview {
    
  margin: 15px;
  padding: 15px 0px;
  background: #46464B;
  border-radius: 6px;  
  }
  
  
 .cdk-drag-preview,.scram-board-content-area .scram-board-content-card .sbc-single-card-color-tex
  .cdk-drag-placeholder {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    justify-content: center;
    color: #D7DAE5;
  }
  .cdk-drag-preview > .sbc-single-card-color .d-flex .align-items-center{
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 25px;

  
  }
  
  .cdk-drop-list-dragging .scrumboard-card:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) !important;
  } 
  .dropdown_con{
    display: block;
    box-shadow: 0px 10px 40px #0F0F11;
    border-radius: 6px;
    z-index: 5;
    background: #2C2C2E;
    min-width: 130px;
    right: 0;
    top: 100%;
   
  }
  .dropdown_con a {
    padding: 5px 10px;
    display: block;
  }