<section class="sign-up-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-xl-4 col-md-6">
                <div class="row">
                    <div class="sign-up-form">
                        <div class="sign-up-logo">
                            <img src="assets/img/logo.png" alt="">
                        </div>
                        <div *ngIf="showloader" style="margin-left: 50px;">
                            <h4>Your Account is being Created! <br> Please wait.....</h4>
                            <mat-spinner ></mat-spinner>
                          </div>
                        <div *ngIf="!showloader" class="sign-up-content">
                            <div class="sign-up-heading">
                                <h2>Sign Up</h2>
                                <p>Welcome to Clients Portals Sign In Page</p>
                            </div>
                            <form [formGroup]="form" class="sign-up-contact-form">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <div class="input-wrapper">
                                        <input type="text" formControlName="firstname"  class="form-control custom-control" placeholder="User Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Last name</label>
                                    <div class="input-wrapper">
                                        <input type="text" formControlName="lastname"  class="form-control custom-control" >
                                        <i class="icofont-eye-a lt"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>email</label>
                                    <div class="input-wrapper">
                                        <input type="text" formControlName="email"  class="form-control custom-control" >
                                        
                                    </div>
                                    <div *ngIf=" f.email.errors &&  f.email.touched" class="invalid-feedback">
                                        <!-- <div *ngIf="f.email.errors.required">Email is required</div> -->
                                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                      </div>
                                </div>
                                <div class="form-group">
                                    <label>Set Password</label>
                                    <div class="input-wrapper">
                                        <input [type]="inputType" formControlName="password"  class="form-control custom-control" placeholder="......">
                                        <i (click)="toggleVisibility()" class="icofont-eye-alt"></i>
                                    </div>
                                    <div *ngIf="f.password.errors" class="invalid-feedback">
                                        <!-- <div *ngIf="f.password.errors.required">Password is required</div> -->
                                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                    </div>
                                </div>
                                <div class="forget-option">
                                    <a href="">Forgot password?</a>
                                </div>
                            </form>
                            <button type="submit" (click)="send()" class="mikyal-btn btn_primary">Sign Up</button>
                        </div>
                        <div class="sign-up-footer">
                            <p>@Copyright 2020 | Clients Portal</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-6" style="background: #F5F5FB" >
                <div class="sign-up-img">
                    <img src="assets/img/sign-in.png" alt="">
                </div>
            </div>
        </div>
    </div>
