<section class="main-content-dashboard">
    <div class="content-wrapper content-wrapper__content pr-lg-0">
        <ul class="information">
            <li class="information_list information_list-charts">
                <div class="information_list-item chart-box dashboard-line-chart__padding">
                    <div class="chart-header">
                        <div class="chart-header-box profit">
                            <h2 class="chart-header__title">
                                Total profit
                            </h2>
                            <p class="chart-header__sum">
                                $14.692
                            </p>
                        </div>
                        <div class="chart-header-box green">
                            <p class="chart-header__percent">
                                +35%
                            </p>
                            <svg width="10" height="8" viewBox="0 0 10 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4.29333 0.841799L0.38167 5.44608C-0.170155 6.09561 0.291477 7.09354 1.14377 7.09354H8.96709C9.81938 7.09353 10.281 6.09561 9.72919 5.44608L5.81753 0.8418C5.41818 0.371745 4.69267 0.371743 4.29333 0.841799Z"
                                    fill="#48C2A5" />
                            </svg>
                        </div>
                    </div>
                    <div id="dashboard-chart-total">
                    </div>
                </div>
                <div class="information_list-item chart-box">
                    <div class="chart-header">
                        <div class="chart-header-box sales">
                            <h2 class="chart-header__title">
                                Total Revenue
                            </h2>
                            <p class="chart-header__sum">
                                162.350
                            </p>
                        </div>
                        <div class="chart-header-box red">
                            <p class="chart-header__percent">
                                -4%
                            </p>
                            <svg width="10" height="8" viewBox="0 0 10 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4.29333 0.841799L0.38167 5.44608C-0.170155 6.09561 0.291477 7.09354 1.14377 7.09354H8.96709C9.81938 7.09353 10.281 6.09561 9.72919 5.44608L5.81753 0.8418C5.41818 0.371745 4.69267 0.371743 4.29333 0.841799Z"
                                    fill="#48C2A5" />
                            </svg>
                        </div>
                    </div>
                    <div id="dashboard-chart-sales">

                    </div>
                </div>
            </li>
            <li class="information_list information_list-charts">
                <div class="information_list-item chart-box dashboard-line-chart__padding">
                    <div class="chart-header">
                        <div class="chart-header-box profit">
                            <h2 class="chart-header__title">
                                Total Cost
                            </h2>
                            <p class="chart-header__sum">
                                $14.692
                            </p>
                        </div>
                        <div class="chart-header-box green">
                            <p class="chart-header__percent">
                                +35%
                            </p>
                            <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4.29333 0.841799L0.38167 5.44608C-0.170155 6.09561 0.291477 7.09354 1.14377 7.09354H8.96709C9.81938 7.09353 10.281 6.09561 9.72919 5.44608L5.81753 0.8418C5.41818 0.371745 4.69267 0.371743 4.29333 0.841799Z"
                                    fill="#48C2A5" />
                            </svg>
                        </div>
                    </div>
                    <div id="dashboard-chart-total-cost">
                    </div>
                </div>
                <div class="information_list-item visitors">
                    <div class="information_list-item-header">
                        <h2 class="information_list-item_title">portfolio visitors</h2>
                        <div class="protfolio-tab">
                            <div class="visitors-counter p-content-tab1">
                                <h4 class="visitors-counter_number">1.35 M</h4>
                                <p class="visitors-counter_update">Last update at 12:34</p>
                            </div>
                            <div class="visitors-counter p-content-tab2 active">
                                <h4 class="visitors-counter_number">1.15 M</h4>
                                <p class="visitors-counter_update">Last update at 12:34</p>
                            </div>
                            <div class="visitors-counter p-content-tab3">
                                <h4 class="visitors-counter_number">1.25 M</h4>
                                <p class="visitors-counter_update">Last update at 12:34</p>
                            </div>
                        </div>
                    </div>
                    <ul class="visitors-choice">
                        <li class="visitors-choice-time pointer">This week</li>
                        <li class="visitors-choice-time active pointer">This mounth</li>
                        <li class="visitors-choice-time pointer">This year</li>
                    </ul>
                </div>
            </li>
            <li class="information_list information_list-charts">
                <div class="information_list-item chart-box pie-chart">
                    <div class="chart-header">
                        <h2 class="chart-header__title">
                            Sales Goals
                        </h2>
                    </div>
                    <div id="dashboard-chart-sales-goals">
                    </div>
                    <div class="pie-chart-footer">
                        <div class="pie-chart-footer-box">
                            <p class="pie-chart-footer_sales-goals__mr">
                                Sales Goal is
                            </p>
                            <p class="pie-chart-footer_count">
                                $ 62.000
                            </p>
                        </div>
                        <div class="icons-box__gray">
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.864 0.60051C13.4735 0.209986 12.8403 0.209986 12.4498 0.600511L11.0356 2.01472L15.2782 6.25736L16.6924 4.84315C17.0829 4.45263 17.0829 3.81946 16.6924 3.42894L13.864 0.60051Z"
                                    fill="#CCD0E3" />
                                <path
                                    d="M13.864 7.67158L9.62134 3.42894L0.721848 12.3284C0.534311 12.516 0.428955 12.7703 0.428955 13.0355L0.428955 15.864C0.428954 16.4163 0.876671 16.864 1.42896 16.864H4.25738C4.5226 16.864 4.77695 16.7586 4.96449 16.5711L13.864 7.67158Z"
                                    fill="#CCD0E3" />
                            </svg>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="right-sidebar">
        <div class="header-menu-account right-sidebar-menu-account">
            <div class="header-menu-account-icon-box ">
                <div class="icons-box-icon-menu close-right-sidebar">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001"
                        style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
                                L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
                                c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
                                l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
                                L284.286,256.002z" />
                            </g>
                        </g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g> </g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                    </svg>
                </div>
            </div>
            <div class="header-menu-account-name">
                <p class="account-name">
                    Debra Simmmons
                </p>
                <div class="account-logo">
                    <img class="account-img" src="img/account-avatar.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="projects">
            <p class="projects-title projects-title_active pointer">Сurrent projects</p>
            <p class="projects-title pointer">All projects</p>
        </div>
        <div class="swiper-container slider-project">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide">
                    <div class="slide-progress_bg"></div>
                    <div class="slide-box_title">
                        <p class="slide_title">Design</p>
                    </div>

                    <div class="slide-detail">
                        <p class="slide-detail_title">
                            Dribble, Behance, UpLabs & Pinter...
                        </p>
                        <p class="slide-detail-counter">
                            7 <span> of </span> 30
                        </p>
                    </div>
                </div>
                <div class="swiper-slide slide slide-ocean_bg">
                    <div class="slide-progress_bg"></div>
                    <div class="slide-box_title">
                        <p class="slide_title">Frontend</p>
                        <p class="slide_title">Backend</p>
                    </div>

                    <div class="slide-detail">
                        <p class="slide-detail_title">
                            Add Angular Starter-kit
                        </p>
                        <p class="slide-detail-counter">
                            14 <span> of </span> 18
                        </p>
                    </div>
                </div>
                <div class="swiper-slide slide" style="background: #F5F5FB;">
                    <div class="slide-progress_bg" style="background: #E5E5EE;"></div>
                    <div class="slide-box_title">
                        <p class="slide_title" style="color: #001431;">Design</p>
                    </div>

                    <div class="slide-detail">
                        <p class="slide-detail_title" style="color: #001431;">
                            Dribble, Behance, UpLabs & Pinter...
                        </p>
                        <p class="slide-detail-counter" style="color: #001431;">
                            7 <span style="color: #001431; opacity: 0.38"> of </span> 30
                        </p>
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <div class="slide-progress_bg"></div>
                    <div class="slide-box_title">
                        <p class="slide_title">Design</p>
                    </div>

                    <div class="slide-detail">
                        <p class="slide-detail_title">
                            Dribble, Behance, UpLabs & Pinter...
                        </p>
                        <p class="slide-detail-counter">
                            7 <span> of </span> 30
                        </p>
                    </div>
                </div>
                <div class="swiper-slide slide slide-ocean_bg">
                    <div class="slide-progress_bg"></div>
                    <div class="slide-box_title">
                        <p class="slide_title">Frontend</p>
                        <p class="slide_title">Backend</p>
                    </div>

                    <div class="slide-detail">
                        <p class="slide-detail_title">
                            Add Angular Starter-kit
                        </p>
                        <p class="slide-detail-counter">
                            14 <span> of </span> 18
                        </p>
                    </div>
                </div>
                <div class="swiper-slide slide" style="background: #F5F5FB;">
                    <div class="slide-progress_bg" style="background: #E5E5EE;"></div>
                    <div class="slide-box_title">
                        <p class="slide_title" style="color: #001431;">Design</p>
                    </div>

                    <div class="slide-detail">
                        <p class="slide-detail_title" style="color: #001431;">
                            Dribble, Behance, UpLabs & Pinter...
                        </p>
                        <p class="slide-detail-counter" style="color: #001431;">
                            7 <span style="color: #001431; opacity: 0.38"> of </span> 30
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="">


        </div>
        <div class="last-clients">
            <h2 class="last-clients_title">Download files</h2>
            <ul class="last-clients-content">
                <li class="last-clients-content__item ">
                    <div class="last-clients-content__item__box">
                        <img src="img/dashboard/right-sidebar-client-1.jpg"
                            class="last-clients-content__item__box_img" alt="">
                        <div class="last-clients-content__item__detail">
                            <p class="last-clients-content__item__box_name">Tyrone Lane</p>
                            <p class="last-clients-content__item__box_cash">+600$</p>
                        </div>
                    </div>
                    <p class="last-clients-content__item__date">
                        May 14
                    </p>
                </li>
                <li class="last-clients-content__item ">
                    <div class="last-clients-content__item__box">
                        <img src="img/dashboard/right-sidebar-client-2.jpg"
                            class="last-clients-content__item__box_img" alt="">
                        <div class="last-clients-content__item__detail">
                            <p class="last-clients-content__item__box_name">Eleanor Nguyen</p>
                            <p class="last-clients-content__item__box_cash">+1200$</p>
                        </div>
                    </div>
                    <p class="last-clients-content__item__date">
                        May 03
                    </p>
                </li>
                <li class="last-clients-content__item ">
                    <div class="last-clients-content__item__box">
                        <img src="img/dashboard/right-sidebar-client-3.jpg"
                            class="last-clients-content__item__box_img" alt="">
                        <div class="last-clients-content__item__detail">
                            <p class="last-clients-content__item__box_name">Julie Henry</p>
                            <p class="last-clients-content__item__box_cash">+255$</p>
                        </div>
                    </div>
                    <p class="last-clients-content__item__date">
                        April 26
                    </p>
                </li>
                <li class="last-clients-content__item ">
                    <div class="last-clients-content__item__box">
                        <img src="img/dashboard/right-sidebar-client-4.jpg"
                            class="last-clients-content__item__box_img" alt="">
                        <div class="last-clients-content__item__detail">
                            <p class="last-clients-content__item__box_name">Darrell Wilson</p>
                            <p class="last-clients-content__item__box_cash">+3$</p>
                        </div>
                    </div>
                    <p class="last-clients-content__item__date">
                        January 30
                    </p>
                </li>
                <li class="last-clients-content__item ">
                    <div class="last-clients-content__item__box">
                        <img src="img/dashboard/right-sidebar-client-5.jpg"
                            class="last-clients-content__item__box_img" alt="">
                        <div class="last-clients-content__item__detail">
                            <p class="last-clients-content__item__box_name">Esther Williamson</p>
                            <p class="last-clients-content__item__box_cash">+300.000$</p>
                        </div>
                    </div>
                    <p class="last-clients-content__item__date">
                        January 18
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
